html
{
    font-family:Verdana;
}
.baner
{
background-color:  #4682B4;
color: white;
text-align: center;
font-size: 120%;
padding:20px ;
}
.lewy
{
background-color:  #40E0D0;
width: 40%;
height: 500px;
float: left;
}
.prawy
{
background-color: #40E0D0;
width:  60%;
height: 500px;
float: left;
}
.stopka
{
    background-color:  #4682B4;
    color: white;
    text-align: center;
    font-size: 120%;
    padding:20px ;
}
img
{
width:550px;
border: solid #000080 ;
padding: 5px;
margin:10px;
}