{
	font-family: Georgia;
}
.baner{
background-color: #824555;
color: white;
text-align: center;
padding: 20px;
}
.gora1{
background-color: #A26475;
color: white;
height: 300px;
width: 30%;
float: left;
}
.gora2{
    background-color: #A26475;
    color: white;
    height: 300px;
    width: 30%;
    float: left;
}
.gora3{
background-color: #A26475;
color: white;
height: 300px;
width: 40%;
text-align: right;
float: left;
}
.glowny{
background-color: #F0EAE2;
padding: 50px;
float: left;
width: 100%;

}
.stopka{
background-color: #824555;
color: white;
text-align: center;
padding: 20px;
}
.ul
{
	list-style-type: square;
}
.table,tr,td
{
	border: 2px solid #69293A;
	padding: 7px;
	border-collapse: collapse;
}
#czerwony
{
	background-color: red;
	border: 0px;
}

#zielony
{
	background-color: green;
	border: 0px;
}

#niebieski
{
	background-color: blue;
	border: 0px;
}