*
{
	font-family: Georgia;
}

#baner
{
	background-color:#824555;
	color: white;
	text-align: center;
	padding: 20px;
}

#lewy, #srodkowy
{
	background-color: #A26475;
	color: white;
	width: 30%;
	height: 300px;
	float: left;
}

#prawy
{
	background-color: #A26475;
	color: white;
	width: 40%;
	height: 300px;
	text-align: right;
	float: left;
}

#glowny
{
	background-color: #F0EAE2;
	padding: 50px;
	clear: both;
}

#stopka
{
	background-color: #824555;
	text-align: center;
	padding: 20px;
}
table, tr, td
{
	border: 2px solid #69293A;
	padding: 7px;
	border-collapse: collapse;
}

ul
{
	list-style-type: square;
}

#pierwszy
{
	background-color: red;
	border: 0px;
}

#drugi
{
	background-color: green;
	border: 0px;
}

#trzeci
{
	background-color: blue;
	border: 0px;
}