{
    font-family: Arial;
}
.bloklogo{
 background-color: rgb(162,117,87);
 height: 100px;
 width: 30%;
 float: left;
}

.blokmenu{
    background-color: rgb(162,117,87);
    height: 100px;
    width: 70%;
    text-align: :right;
float: right;
}

.baner{
background-color: rgb(74, 45, 32);
text-align: center;
padding: 30px;
color: white;

}
.prawo{
    background-color: rgb(162,117,87);
    color: white;
width: 50%;
    height: 500px;
    float: left;

}
.lewo{
background-color: rgb(162,117,87);
color: white;
width: 50%;
    height: 500px;
    float: left;
}
.stopka{
    background-color: rgb(74, 45, 32);
    text-align: center;
    padding: 30px;
    color: white;
    
}
a{
    color: rgb(65,98,85);
    padding: 20px;
    margin: 10px;
    font-size: 150%;
    line-height: 100px
    border: 1px solid rgb(65,98,85)
}
body > div.bloklogo > img{
    margin-top: 1px;
}