 html{
        font-family: Helvetica;
    }
.lewy
{
float: left;
background-color: Navy;
color: white;
height: 700px;
width: 25%;
}
.prawy1
{
background-color: RoyalBlue;
height: 100px;
width: 75%;
float: left;
text-align: center;
}
.prawy2
{
background-color: SteelBlue;
height: 300px;
width: 75%;
float: left;
}
.prawy3
{
    background-color: RoyalBlue;
    height: 300px;
    width: 75%;
    text-align: center;
    float: left;
}
.stopka
{
        background-color: SteelBlue;
        text-align: center;
        padding: 20px;
}
h1
{
letter-spacing: 5px;
}
form
{
	margin: 30px;
	line-height: 3;
}
form:hover
{
	background-color: deepskyblue;
}