.baner
{
text-align: center;
background-color: aquamarine;
height: 100px;
}
.lewy
{
    background-color: aquamarine;
    float: left;
    height: 820px;
    width: 10%;
}
.srodek
{
    background-color: aquamarine;
    float: left;
    height: 820px;
    width: 80%;
    text-align: center;
}
.prawy
{
    background-color: aquamarine;
    float: left;
    height: 820px;
    width: 10%;
}
.stopka
{
    background-color: aquamarine;
    float: left;
}
table,td{
    border: 3mm ridge red;
    border-collapse: collapse;
    text-align: center;
   
