html
{
    font-family: Helvetica;
}
.baner-lewy
{
background-color: rgb(130, 69, 85);
color: white;
text-align: center;
width: 30%;
height: 200px;
float: left;
}
.baner-prawy
{
    background-color: rgb(130, 69, 85);
    color: white;
    text-align: center;
    height: 200px;
    width: 70%;
    float: left;
}
.glowny
{
    padding: 120px;
    background-color: rgb(240, 234, 226);
    float: left;
    width: calc(100% - 240px);
}
.lewy
{
    background-color: rgb(130, 69, 85);
    color: white;
    text-align: center;
    width: 30%;
    height: 200px;
    float: left;
}
.prawy
{
    background-color: rgb(130, 69, 85);
    color: white;
    text-align: center;
    height: 200px;
    width: 70%;
    float: left;
}
.stopka
{
padding: 120px;
background-color: rgb(240, 234, 226);
float: left;
width: calc(100% - 240px);
}
a
{
    color: rgb(240, 234, 226);
}
table,td
{
    border: solid rgb(130, 69, 85);
    color: rgb(130, 69, 85);
    padding: 10px;
    height: 1px;
}