.baner
{
background-color: rgb(35, 112, 212);
height: 50px;
text-align: center;
}
.lewy
{
background-color: rgb(26, 200, 212);
height: 450px;
width: 30%;
float: left;
}
.srodek
{
background-color: white;
height: 450px;
width: 40%;
float: left;
text-align: center;
}
.prawy
{
    background-color: rgb(26, 200, 212);
    height: 450px;
    width: 30%;
    float: left;
}
.stopka
{
background-color: rgb(35, 112, 212);
height: 50px;
text-align: right;
float: left;
width: 100%;
}
li
{
        list-style-type: circle;
}
