.baner{
    background: #0B873D;
    color: white;
    text-align: center;
    font-size: 150%;

}
.lewy{
    background: #8CE1AE;
    float: left;
    height: 600px;

}
.srodek{
    background: #5CCB89;
    height: 600px;
    width: 40%;
    float: left;

}
.prawy{
    background: #1DA956;
    width: 20%;
    height: 600px;
    float: left;
}
ul{
    padding-left: 0px;
}
li{
    list-style-type: none;
}