.kontener
{
    background-color: #99FFCC;
    width: 1000px;
    margin: auto;
    }
.baner
{
background-color: #99FF66;
height: 200px;
}
.menu
{
    background-color: #66CCFF;
    float: left;
    text-align: center;
    height: 100px;
    width: 100%;
font-size: 200%;

}
.kolumna1
{
    background-color: #99FFCC;
    float: left;
width: 310px;
padding: 10px;
height: 191px;
}
.kolumna2
{
    background-color: #99FFCC;
float: left;
    width: 310px;
    padding: 10px;
}
.kolumna3
{
    background-color: #99FFCC;
float: left;
    width: 310px;
    padding: 10px;
    height: 191px;
}
.stopka
{
    background-color: #66CCFF;
float: left;
color:  #006666;
margin: 50px;
width: 100%;
text-align: right;
}
h2,h3
{
    text-align: center;
}
body
{
background-color: #99ffcc;
}
a
{
   color: #006666;
   margin:50px;
   text-decoration: none;
}
body > div > div.formularz > form > button:nth-child(7)
{
    background-color: #FF0000;
}

body > div > div.formularz > form > button:nth-child(8)
{
background-color: #00FF00;
}
body > div > div.baner > img
{
    width: 100%;
}