.lewo{
    float: left;
    background-color: Navy;
    color: white;
    height: 700px;
    width: 25%;
}
.prawy_1{
    background-color: RoyalBlue;
    height: 100px;
    width: 75%;
    float: left;
    text-align: center;
}
.prawy_2{
    background-color: SteelBlue;
    height: 300px;
    width: 75%;
    float: left;
}
.prawy_3{
    background-color: RoyalBlue;
    height: 300px;
    width: 75%;
    text-align: center;
    float: left;
}
.stopka{
    background-color: SteelBlue;
    text-align: center;
    padding: 20px;
}
html{
    font-family: Helvetica;
}
h1{
    letter-spacing: 5px;
}
form{
	margin: 30px;
	line-height: 3;
}
form:hover{
	background-color: deepskyblue;
}