.baner{
text-align: right;
color: white;
background-color: rgb(30, 137, 157);
height: 100px;
}
.lewo{
float: left;
background-color: rgb(58, 159,178);
width: 20%;
height: 550px;
}
.srodek{
float: left;
background-color: rgb(143, 212, 225);
height: 550px;
width: 60%;
}
.prawo{
    float: left;
    background-color: rgb(58, 159,178);
    width: 20%;
    height: 550px;
}
h3{
    color: white;
}
img{
    float: left;
    display: block;
    position: absolute;
}
.napis{
    float: left;
margin-left: 124px;
}