.baner
{
background-color: #D47958;
height: 50px;
text-align: center;
}
.lewy
{
background-color: #AA593B;
height: 450px;
width: 40%;
float: left;
}
.srodek
{
background-color: #E5998B;
height: 450px;
width: 30%;
float: left;
text-align: center;

}
.prawy
{
    background-color: #AA593B;
    height: 450px;
    width: 30%;
    float: left;
}
.stopka
{
background-color: #D47958;
height: 50px;
text-align: right;
float: left;
width: 100%;
}
li
{
        list-style-type: circle;
}
img
{
    float: left;
}