
.odnosniki{
    border: 2px solid green;
    border-radius: 12px;
    float: left;
    width: 100%;
    background-color: green;
    color: white;
}
.btn-outline-primary:hover {
    color: white;
    background-color: #28a745;
    border-color: green;
}
.btn-outline-primary {
    color: black;
    border-color: green;
}
.btn-primary:hover {
    color: #fff;
    background-color: green;
    border-color: green;
}
.btn-primary {
    color: black;
    background-color: white;
    border-color: green;
}
.h1, h1 {
    font-size: 1.5rem;
}
.h2, h2 {
    font-size: 2rem;
    color: green;
}
.font-weight-normal {
    font-weight: 400!important;
    color: green;
}
.w-100{
    width: 50%!important;
    margin-left:25%;
}
.btn-outline-primary {
    color: black;
    border-color: green;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: green;
    border-color: green;
}
.btn-primary:hover {
    color: #fff;
    background-color: green;
    border-color: green;
}