.baner{
    background-color: #E8C84E;
    height: 50px;
    text-align: center;
    font-size: 130%;
}
.lewy{
    background-color: #FFB544;
    height: 500px;
    width: 40%;
    float: left;
    font-size: 130%;
}
.srodek{
    float: left;
    width: 30%;
    text-align: center;
    margin-top: 25px;
}
.prawy{
    float: left;
    background-color: #FFB544;
    height: 500px;
    width: 30%;
    text-align: center;
}
.stopka{
    background-color: #E8C84E;
    height: 50px;
    text-align: right;
    width: 100%;
    float: left;
}