.baner{
    color:white;
    background-color: #3B85AA;
    padding: 12px;
    text-align: center;
}
.prawo{
    background-color: #4E9BB5;
    color:white;
    width: 20%;
    height: 450px;
    float: left;
}
.lewo{
    height: 450px;
    width: 80%;
    text-align: center;
    float: left;
    background-color: white;
}
.stopka{
    color:white;
    background-color: #3B85AA;
    padding: 12px;
    text-align: center;
}