.kontener{
    width:1000px ;
    margin: auto;
    text-align: center;
}
.logo{
    background-clip: #C0C0C0;
    height: 100px;
    width: 400px;
    float: left;
}
.menu
{
    background-clip: #C0C0C0;
    height: 100px;
    width: 600px;
   float: left;
}
.baner{
    background-color:#C0C0C0 ;
    height: 140px; 
}
.glowny{
    margin-top: 250px;
}
.stopka{
    background-color: #C0C0C0;
    width: 100%;
    height: 40px;
    text-align: right;
    float: left;
    margin-top: 30px;
}
body{
    background-color:  #EEEEEE;
}
a{
   color: #555555;
   margin:50px;
   text-decoration: none;
   font-size: 200%;
}
#wynik{
    text-align: center;
}
body > div > div.logo > img{
    height: 100px;
    margin-top: 15px;
}
body > div > div.baner > img{
    float: left;
    height: 200px;
    margin-top: 40px;
}